{% extends 'layout.html' %}

{% block body %}
<div>
    <div class="box">
        <h1>Contact Us - Reach Out to Your Ultimate Poker Store</h1>
        <div>Have a question, a suggestion, or just want to share your poker stories? We're here to listen! Feel free to get in touch with us using the following methods:</div>
    </div>
    <div class="box">
        <h1>Customer Support</h1>
        <div>Our dedicated Customer Experience Team is available to assist you with any inquiries you may have. From product recommendations to order tracking, we're here to make your shopping experience smooth and enjoyable.
            <ul>
                <li>Email: support@ultimatepokerstore.com</li>
                <li>Phone: 1-800-POKER-STORE (1-800-765-3778)</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h1>Store Location</h1>
        <div>If you're in the area or just passing by, we'd love to see you at our brick-and-mortar store. Experience our products in person and chat with our knowledgeable staff.
            <br>
            Address: 123 Poker Avenue, Suite 456
            <br>
            City: Casino City
            <br>
            State: Pokerland
            <br>
            Post Code: BN7 2OP</div>
    </div>
    <div class="box">
        <h1>Social Media</h1>
        <div>Connect with us on social media to stay updated on the latest products, promotions, and poker news. Join our vibrant community of poker enthusiasts and share your passion for the game.
            <br>
            <ul>
                <li>Facebook: @UltimatePokerStore</li>
                <li>Twitter: @PokerUltimate</li>
                <li>Instagram: @YourPokerHQ</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h1>Feedback and Suggestions</h1>
        <div>We value your input! If you have suggestions for new products, improvements to our services, or any other ideas to make Your Ultimate Poker Store even better, please let us know.
            <br>
            Email: feedback@ultimatepokerstore.com
        </div>
    </div>
</div>
{% endblock body %}