{% extends 'layout.html' %}

{% block body %}
<div>
    <div>
    Welcome to Athena's Poker Store - Your One-Stop Shop for Everything Poker! 
    Step into the world of high-stakes excitement and strategic thinking with Athena's Poker Store. Whether you're a seasoned pro or just dipping your toes into the thrilling world of poker, we've got everything you need to elevate your game to the next level.
    Explore our meticulously curated collection of premium poker chips, exquisite playing cards, stylish accessories, and top-notch poker tables that exude class and sophistication. Our passion for the game shines through in every product we offer, ensuring that your poker nights will be nothing short of extraordinary.
    Not only are we dedicated to bringing you the finest poker essentials, but we're also here to share our knowledge and expertise. Our team of poker enthusiasts is always ready to assist you in finding the perfect products and answering any questions you might have.
    Whether you're hosting a friendly home game, participating in a high-stakes tournament, or seeking the perfect gift for the poker aficionado in your life, Athena's Poker Store has got you covered.
    <br>
    Thank you for choosing us to be a part of your poker journey. Get ready to shuffle up and deal in style!
    </div>
</div>
{% endblock body %}